{% set entry_header_classes = '' %}
{% if function('is_singular') %}
	{% set entry_header_classes = entry_header_classes~' header-footer-group' %}
{% endif %}

<header class="entry-header has-text-align-center{{entry_header_classes}}">
	<div class="entry-header-inner section-inner medium">
		{% set show_categories = function(
			'apply_filters',
			'twentytwenty_show_categories_in_entry_header',
			true
			)
		%}
		{% if true == show_categories and function('has_category') %}
			<div class="entry-categories">
				<span class="screen-reader-text">{{ __( 'Categories', 'twentytwenty' ) }}</span>
				<div class="entry-categories-inner">
					{{ function('the_category', ' ') }}
				</div><!-- .entry-categories-inner -->
			</div><!-- .entry-categories -->
		{% endif %}

		{% if function('is_singular') %}
			<h1 class="entry-title">{{ post.title }}</h1>
		{% else %}
			<h2 class="entry-title heading-size-1">
				<a href="{{ post.link|e('esc_url') }}">
					{{ post.title }}
				</a>
			</h2>
		{% endif %}

		{% set intro_text_width = '' %}

		{% if function('is_singular') %}
			{% set intro_text_width = ' small' %}
		{% else %}
			{% set intro_text_width = ' thin' %}
		{% endif %}

		{% if function('has_excerpt') and function('is_singular') %}
			<div class="intro-text section-inner max-percentage{{ intro_text_width }}">
				{{ post.excerpt }}
			</div>
		{% endif %}

		{{ function('twentytwenty_the_post_meta', post.id, 'single-top' ) }}
	</div><!-- .entry-header-inner -->
</header><!-- .entry-header -->
